/* For Top Header */

body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; margin:0px; padding:0px; background:#444444 url(../images/bodybg.jpg) repeat-x;}

label,a{ cursor:pointer; color: #043F7E;text-decoration: none;}

#fullpagetable{ width:1160px; min-height:400px; margin:0px; padding:0px; border:none;}

#topheaderdiv{ width:1160px; min-height:129px; margin:0px; padding:0px;border:none;}

#topheaderdiv #toplinkmenu{ width:1160px; height:26px; margin:0px; padding:0px;border:none; float:left; text-align:right;}

#toplinkmenu ul{ float:right; margin:0px; padding:0px; vertical-align:top;}

#toplinkmenu ul li{text-align:center; margin:0px; padding:0px 3px 0px 3px; list-style-type:none; float:left;}

#toplinkmenu ul li a{ font-size:10px; color:#fffffe; text-decoration:none; margin:0px; padding:0px;}

#toplinkmenu ul li a:hover{ font-size:10px; color:#fffffd; text-decoration:underline; margin:0px; padding:0px;}

#toplinkmenu ul li a.active{ font-size:10px; color:#fffffc; text-decoration:underline; margin:0px; padding:0px;}

#topheaderdiv #toplogodiv{ width:1160px; height:67px; margin:0px; padding:0px; float:left;}

#toplogodiv .topheaderleft{ width:7px; height:67px; margin:0px; padding:0px; float:left; background:url(../images/topheaderleft.jpg) no-repeat;}

#toplogodiv .topheaderbg{ width:790px; height:67px; margin:0px; padding:0px; float:left; background:url(../images/topheaderbg.jpg) repeat-x;}

#div550x41leftmar14{width:550px; height:41px; margin:14px 0px 0px 10px;padding:0px; float:left;}

#div550x41leftmar14 .logo{width:226px; height:41px; margin:0px;padding:0px; float:left;background:url(../images/logo.png) no-repeat;}

#div550x41leftmar14 .topusernameshow{width:300px; height:29px; margin:12px 0px 0px 0px;padding:0px; float:right; text-align:right;

	font-size:12px; font-weight:bold;}



#toplogodiv .topheaderright{ width:363px; height:67px; margin:0px; padding:0px; float:left; background:url(../images/topheaderright.jpg) no-repeat;}

.titlerow{ background:#C0D2FF;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px; font-weight:bold;}

.oddrow{ background:#ECEFF5;color:#0A0A09; line-height:25px; padding:5px 5px 5px 10px;}

.evenrow{ background:#FBF6F6;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 10px;}

.parentrow{ background:#D2D4D9;color:#5E0E06; line-height:20px; padding:2px 5px 2px 10px; font-weight:bold;}

.sonrow{ background:url(../images/sontabarrow.png) no-repeat left top;color:#5E0E06; line-height:20px; padding:2px 5px 2px 20px; font-weight:bold; border-bottom:1px dotted;}



#div159x50headerright{ width:159px; height:50px; float:right; margin:10px 42px 0px 0px;text-align:center;font-size:11px; line-height:15px;}

#div159x50headerright a{ color:#0000FF; text-decoration:underline;}

#div159x50headerright a:hover{ color:#0000FF; text-decoration:none;}

.site_preview{float:left;width:100px;height:50px;margin-top:20px;font-weight:bold;}

.site_preview a{color:#0079ad;text-decoration:none; font-weight:bold;}

.site_preview a:hover{text-decoration:underline;}



#topmainmenu{width:1160px; height:35px; margin:2px 0px 0px 0px; padding:0px; float:left;}

#topmainmenu .mainmenuleft{ width:6px; height:35px; margin:0px; padding:0px; float:left; background:url(../images/mainmenuleft.jpg) no-repeat;}

#topmainmenu .mainmenuright{ background: url(../images/mainmenuright.jpg) no-repeat scroll 0 0 transparent; float: left; height: 35px; margin: 0;padding: 0;width: 6px;}

#topmainmenu .mainmenubg{ width:1148px; height:35px; margin:0px; padding:0px; float:left; background:url(../images/mainmenubg.jpg) repeat-x;}



/*for login site*/

.input50x20{ width:50px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}

.error_input50x20{ width:50px; height:20px;font-size:11px; border:1px solid #FF0000; background:#FFFFCC; padding:0px 0px 0px 5px;}

.input100x20{ width:100px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}

.error_input100x20{ width:100px; height:20px;font-size:11px; border:1px solid #FF0000; background:#FFFFCC; padding:0px 0px 0px 5px;}

.input120x20{ width:120px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}

.error_input120x20{ width:120px; height:20px;font-size:11px; border:1px solid #FF0000; background:#FFFFCC; padding:0px 0px 0px 5px;}



.input200x20{ width:200px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}

.error_input200x20{ width:200px; height:20px;font-size:11px; border:1px solid #FF0000; background:#FFFFCC; padding:0px 0px 0px 5px;}

.input200x80{ width:200px; height:80px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}

.error_input200x80{ width:200px; height:80px;font-size:11px; border:1px solid #FF0000; background:#FFFFCC; padding:0px 0px 0px 5px;}

.input300x20{ width:300px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}

.error_input300x20{ width:300px; height:20px;font-size:11px; border:1px solid #FF0000; background:#FFFFCC; padding:0px 0px 0px 5px;}

.notification-error {background:url(../images/cross-on-white.gif) no-repeat;color: #C9282D;font-size: 12px;margin: 0 0 0 5px;

	padding: 0px 0 0px 20px;}



.textarea1 {border-radius: 4px;border: 1px solid #999999;}

.error_textarea1 {border-radius: 4px;border: 1px solid #FF0000;}

.submitbutton{ background:url(../images/blue73x21buttom.png) no-repeat; width:76px; height:22px; border:none; cursor:pointer; font-size:11px;

	padding:0px; margin:0px; color:#fffff3;}



.black11normal{font-size:11px; color:#000002; line-height:16px;}

.black11bold{font-size:11px; color:#000004; line-height:16px; font-weight:bold; padding-left:10px;}

.blue11anchor{ color:#0000FF; text-decoration:underline; font-size:11px; line-height:16px; cursor:pointer}

.blue11anchor:hover{ color:#0000FF; text-decoration:none; font-size:11px; cursor:pointer}

.black12normal{font-size:12px; color:#000001;}

.black12bold{font-size:12px; color:#000003; line-height:18px; font-weight:bold; padding-left:10px;}

.green14bold{font-size:14px; color:#1E6117; line-height:16px; font-weight:bold; text-decoration:none;}

.green14bold:hover{text-decoration:underline;}

.white14bold{font-size:14px; color:#FFFFF1; line-height:16px; font-weight:bold; text-decoration:none;}

.white14bold:hover{text-decoration:underline;}

.black16bold{font-size:16px; color:#000006; font-weight:bold;}

.greendeep16bold{font-size:16px; color:#1E6117; line-height:20px; font-weight:bold;}

.red11normal, .errormessage, .errormessage p,.errormsg{ color:#FF0000; text-decoration:none; font-size:11px; font-weight:normal;}

.red12bold{ color:#FF0000; text-decoration:none; font-size:12px; font-weight:bold;}

.red14bold{ color:#FF0000; text-decoration:none; font-size:14px; font-weight:bold;}

.red18bold{ color:#FF0000; text-decoration:none; font-size:14px; font-weight:bold;}



/* for footer */

#footerdiv{ width:1160px; min-height:40px; margin:0px; padding:0px;}

#footerdiv .footertop1160x4div{ width:1160px; height:4px; margin:0px; padding:0px; float:left;}

.footertop1160x4div .footertopleft{ width:6px; height:4px; margin:0px; padding:0px; float:left; background:url(../images/footerleft.jpg) no-repeat;}

.footertop1160x4div .footertopbg{ width:1148px; height:4px; margin:0px; padding:0px; float:left; background:url(../images/footerbg.png) repeat-x;}

.footertop1160x4div .footertopright{ width:6px; height:4px; margin:0px; padding:0px; float:left; background:url(../images/footerright.jpg) no-repeat;}

#footerdiv .footertop1160x34div{ width:1160px; height:34px; margin:0px; padding:0px; float:left;

	font-size:10px;color:#fffff6;text-decoration:none; text-align:center;}

#blueborder{ border:1px solid #0096DB; text-align:left; padding:0px;}

#bluebgtd{ background:#0096DB; text-align:left; color:#fffff7; font-size:12px; font-weight:bold;

	padding-left:10px;}

.rowtopbotpadding15{padding-top:15px;padding-bottom:15px;}

.calendarbut{ background:url(../images/calenderimages.jpg) no-repeat; width:21px; height:20px; margin:0px; padding:0px; border:none}



/* ---------------------------for light box css---------------------*/

#fade {display: none;background: #00000a;position: fixed; left: 0; top: 0;width: 100%; height: 100%;opacity: .80;z-index: 9999;}

.popup_block{display: none;background: #ffffef;padding: 20px;border: 20px solid #ddd;	float: left;font-size: 1.2em;position: fixed;

	top: 50%; left: 50%;z-index: 99999;}

img.btn_close {	float: right;margin: -55px -55px 0 0;}

.poplight { font-size:12px; font-weight:bold;height:25px;margin:0px;padding:2px 10px 2px 10px; cursor:pointer; border:1px solid #ccccca;

	background:#ccccc1; color:#000008; text-decoration:none;}

.close{ cursor:pointer;}

.poplight:hover{ color:#f9f9f9;background:#999999; text-decoration:none;}



/*================= Drop down css ==================*/

ul.menu {list-style:none; margin:0; padding:0; background:}

ul.menu * {margin:0; padding:0}

ul.menu a {display:block; color:#fff; text-decoration:none;padding:8px;}

ul.menu li {position:relative; float:left;}

ul.menu ul {position:absolute; top:32px; left:0; display:none; opacity:0; list-style:none}

ul.menu ul li {position:relative; border:1px solid #0087D8; border-top:none; width:188px;line-height:22px;}

ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#0087D8; font-weight:bold; font-size:11px; text-align:left;}

ul.menu ul li a:hover, ul.menu ul li a.active{background-color:#6C6C6C;}

ul.menu ul ul {left:188px; top:0px;}

ul.menu ul ul li{line-height:22px;}

ul.menu .menulink {padding:5px 10px 7px !important; font-weight:bold; background:url(../images/header.gif);}

ul.menu .menulink:hover, ul.menu .menuhover {background:url(../images/header_over.gif); /*border:1px solid #6E6E6E;*/}

ul.menu .sub {background: #00A3E4 url(../images/arrow.gif) 176px 8px no-repeat}

.menuactive {background:url(../images/header_over.gif) !important;}

.result a {color: #043F7E;text-decoration: none;}



/*====================*/

.firstrow{ background:#bcbec5;color:#5E0E06; line-height:20px; padding:2px 5px 2px 10px;border-bottom:1px dotted #bec0c7;}

.firstparent{ background:#bcbec5 url(../images/firstparent.png) no-repeat left top;color:#5E0E06;border-bottom:1px dotted #bec0c7;

	 line-height:20px; padding:2px 5px 2px 15px; font-weight:bold;}

.firstarrow{ background:#bcbec5 url(../images/firstarrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #bec0c7;

	 line-height:20px; padding:2px 5px 2px 15px; font-weight:bold;}

.selectfirstparent{ background:#bcbec5 url(../images/firstparent.png) no-repeat left top;color:#5E0E06;border-bottom:1px dotted #eeeff1;

	 line-height:18px; padding:3px 5px 2px 15px; font-weight:bold; height:18px;cursor:pointer;}

.selectfirstarrow{ background:#bcbec5 url(../images/firstarrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #eeeff1;

	 line-height:18px; padding:3px 5px 2px 15px; font-weight:bold; height:18px;cursor:pointer;}



.secondrow{ background:#d3d5da;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px;border-bottom:1px dotted #bec0c7;}

.secondparent{ background:#d3d5da url(../images/secondparent.png) no-repeat left top;color:#5E0E06;border-bottom:1px dotted #bec0c7;

	 line-height:20px; padding:2px 5px 2px 25px; font-weight:bold;}

.secondarrow{ background:#d3d5da url(../images/secondarrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #bec0c7;

	 line-height:20px; padding:2px 5px 2px 25px; font-weight:bold;}

.selectsecondparent{ background:#d3d5da url(../images/secondparent.png) no-repeat left top;color:#5E0E06;border-bottom:1px dotted #fffffa;

	 line-height:18px; padding:3px 5px 2px 25px; font-weight:bold; height:18px;cursor:pointer;}

.selectsecondarrow{ background:#d3d5da url(../images/secondarrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #fffffa;

	 line-height:18px; padding:3px 5px 2px 25px; font-weight:bold; height:18px;cursor:pointer;}



.thirdrow{ background:#eeeff1;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 10px;border-bottom:1px dotted #bec0c7;}

.thirdparent{ background:#eeeff1 url(../images/thirdparent.png) no-repeat left top;color:#5E0E06;border-bottom:1px dotted #bec0c7;

	 line-height:20px; padding:2px 5px 2px 25px; font-weight:bold;}

.thirdarrow{ background:#eeeff1 url(../images/thirdarrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #bec0c7;

	 line-height:20px; padding:2px 5px 2px 25px; font-weight:bold;}

.selectthirdparent{ background:#eeeff1 url(../images/thirdarrow.png) no-repeat left top;color:#5E0E06;border-bottom:1px dotted #bcbec5;

	 line-height:18px; padding:3px 5px 2px 25px; font-weight:bold; height:18px;cursor:pointer;}

.selectthirdarrow{ background:#eeeff1 url(../images/thirdarrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #bcbec5;

	 line-height:18px; padding:3px 5px 2px 25px; font-weight:bold; height:18px;cursor:pointer;}



.forthrow{ background:#fffffa;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 10px;border-bottom:1px dotted #ECEFF5;}

.fortharrow{ background:#fffffa url(../images/fortharrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #bec0c7;

	 line-height:20px; padding:2px 5px 2px 25px; font-weight:bold;}

.selectforthrow{background:#fffffa;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px;border-bottom:1px dotted #bec0c7;}

.selectforthdarrow{ background:#eeeff1 url(../images/fortharrow.png) no-repeat left top;color:#5E0E06; border-bottom:1px dotted #bcbec5;

	 line-height:18px; padding:3px 5px 2px 30px; font-weight:bold; height:18px;cursor:pointer;}

/*======================= GLOBAL CSS =======================*/



.themes{ float:left; margin:0;}

.themes ul { float:left; width:auto;}

.themes ul li { float:left; width:160px; padding:3px; list-style:none; display:inline;}

.themes ul li img { float:left; width:160px; margin:0 2px;}

ul.pretenderlist {margin: 0;width:100%; padding: 0;display: block;list-style: none; height:auto;}

ul.pretenderlist li{list-style:none;vertical-align:top;width:100%; margin:0px;display: block;padding:0px;;padding:2px 0; float:left;}

ul.pretenderlist li table{ width:100%; margin:0px;padding:0px;}





.input300x18{ width:300px; height:20px;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}

.error_input300x18{ width:300px; height:20px;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; border:1px solid #F00; padding:0px 0px 0px 5px;}



.searchbutton {

    background: url(../images/search20x19.png) no-repeat scroll 0 0 transparent;

    border: medium none;

    cursor: pointer;

    height: 21px;

    margin: 0;

    padding: 0;

    width: 22px;

}

.listnostyle{ list-style:none; width:100%; margin:0; padding:0;}

.listnostyle li{ list-style:none; width:100%; float:left; padding:0; margin-bottom:2px; border:1px solid #CCC;}


/*----------- Admin STUDENT FORM ------------*/

#student.inner_page {margin: 10px;overflow: hidden;font-family: Arial,Helvetica,sans-serif;}

#student.inner_page th{ line-height:25px;}

#student.inner_page td{ line-height:20px;}

#student select option{font-size:12px;line-height:20px;text-align:left;color:#7e6666;height:22px;

	padding:3px 0 0 5px;border-bottom:1px solid #b7b8b3;cursor:pointer;}

#student.inner_page h1.pagetitle{border-bottom:1px solid #75952A;color:#75952A;

	font-size:22px;font-weight:normal;line-height:30px;margin-bottom:10px;text-align:left;}

#student.inner_page h3.pagetitle{border-bottom:1px dotted #75952A;color:#75952A;

	font-size:16px;font-weight:normal;line-height:24px;margin-bottom:10px;text-align:left;}

#student.inner_page fieldset{background-color: #FBFAF6;border: 1px solid #B9B09E;clear:both; float: left;

    margin-bottom: 15px;margin: 10px 1% 7px;width:96%;}

/*.inner_page p{font-size:12px;line-height:20px;margin-bottom:10px;color:#575555;text-align:left;}

.inner_page a{font-size:12px;line-height:20px;color:#575555;text-align:left;}*/

#student.inner_page legend{border: 1px solid #75952A;color: #75952A;font-size: 12px;line-height: 18px;

    margin-left: 20px;padding: 3px 10px;text-transform: capitalize;}

#student .formonecolumn {float: left;padding-left: 2%;width: 48%;}

#student .formrowtxt, .formrow {float: left;width: 100%; padding:1px 0; text-align:left;}	

#student .formrow label {color: #666666;float: left;font-size: 12px;line-height: 20px;

	min-height: 40px;text-align: left;width:27%;}

#student.formrowtxt label {color: #666666;float: left;

    font-size: 12px;line-height: 20px;min-height:20px;text-align: left;width:26%;}

#student input.inputtext {border: 1px solid #B7B8B3;color: #666666;float: left;

	font-size: 12px;height: 19px;line-height: 19px;

    margin-right: 15px;padding-left: 5px;text-align: left;width: 208px;}

#student .formrow .textarea {border: 1px solid #B7B8B3;color: #666666;float: left;

	font-size: 12px;height:50px;line-height: 19px;

    margin-right: 15px;padding-left: 5px;text-align: left;width: 208px;}

#student .error_msg {float: left;}

#student .formrowtxt span, .formrow span {color: #F0522F;}

#student select.selecttext {border: 1px solid #B7B8B3;color: #666666;float: left;

    font-size: 12px;height: 22px;line-height: 22px;margin-right: 15px;padding-left: 5px;

    text-align: left;width: 215px;}

#student .submitbgcss {background: url(../images/bg_newu.jpg) repeat-x center bottom !important;}	

#student input.submitbuttoncss {background:#75952A;border: 1px solid #fcfcfc;color: #FFFFFF;

    cursor: pointer;float: right;/*font-size: 14px;*/

    height: 28px;line-height: 28px;text-align: center;min-width: 55px; padding:0 7px;}
#student input.resetbuttoncss {
	background:#75952A;
	border: 1px solid #fcfcfc;
	color: #FFFFFF;
	cursor: pointer;
	float: right;/*font-size: 14px;*/
	height: 28px;
	line-height: 28px;
	text-align: center;
	min-width: 55px; 
	padding:0 7px;
}

#student h4.requered {color: #F25512;font-size: 11px; float:right;

    font-weight: normal;padding: 0 0 15px 5px;text-align: right;text-transform: capitalize;}

#student.inner_page fieldset p{color: #292B26;font-size: 12px;

    line-height:20px;padding-bottom: 10px;text-align: justify;}

#student.inner_page fieldset a{color: #287DD0;font-size: 12px;

    line-height: 18px;text-align: left;text-decoration: none;}

#student.inner_page fieldset a:hover{text-decoration:underline;}

#student .inner_page .linkoddrow{ background-color:#edf0f5; padding:5px 0px 5px 5%;font-size:12px; color:#393939;

	text-align:left; width:95%;}

#student .inner_page .linkevenrow{ background-color:#FAFAFA; padding:5px 0px 5px 5%;font-size:12px; color:#3d3c3c;

	text-align:left; width:95%;}

.divshapefortreemenu{
   width: 200px;
   height: 350px;
   border: 1px solid #0096DB;
   background: rgb(255,255,255);
  -moz-box-shadow:  0px 0px 0px 3px rgb(126, 116, 239);
  -webkit-box-shadow:  0px 0px 0px 3px rgb(126, 116, 239);
   box-shadow:  0px 0px 0px 2px #0096DB;
}