/* ========================== Shobhan CSS Start ========================= */

a{ cursor:pointer;}

.inner_page {margin: 10px auto;overflow: hidden;font-family: Arial,Helvetica,sans-serif;padding-left: 10px;}

.inner_page th{ line-height:25px;}

.inner_page td{ line-height:20px;}

select option{font-size:12px;line-height:20px;text-align:left;color:#7e6666;height:22px;padding:3px 0 0 5px;border-bottom:1px solid #b7b8b3;cursor:pointer;}

.inner_page h1.pagetitle{border-bottom:1px solid #75952A;color:#75952A;

	font-size:22px;font-weight:normal;line-height:30px;margin-bottom:10px;text-align:left;}

.inner_page h3.pagetitle{border-bottom:1px dotted #75952A;color:#75952A;

	font-size:16px;font-weight:normal;line-height:24px;margin-bottom:10px;text-align:left;}

.inner_page fieldset{background-color: #FBFAF6;border: 1px solid #B9B09E;float: left; margin-bottom: 15px;padding: 10px 1% 7px;width:96%;}

/*.inner_page p{font-size:12px;line-height:20px;margin-bottom:10px;color:#575555;text-align:left;}

.inner_page a{font-size:12px;line-height:20px;color:#575555;text-align:left;}*/

.inner_page legend{border: 1px solid #75952A;color: #75952A;font-size: 12px;line-height: 18px; margin-left: 20px;padding: 3px 10px;text-transform: capitalize;}

.formonecolumn {float: left;padding-left: 2%;width: 48%;}

.formrowtxt, .formrow {float: left;width: 100%; padding:1px 0; text-align:left;}	

.formrow label {color: #666666;float: left;font-size: 12px;line-height: 20px;

	min-height: 40px;text-align: left;width:27%;}

.formrowtxt label {color: #666666;float: left;font-size: 12px;line-height: 20px;min-height:20px;text-align: left;width:26%;}

input.inputtext {border: 1px solid #B7B8B3;color: #666666;float: left;	font-size: 12px;height: 19px;line-height: 19px; margin-right: 15px;padding-left: 5px;text-align: left;}

.formrow .textarea {border: 1px solid #B7B8B3;color: #666666;float: left;font-size: 12px;height:50px;line-height: 19px; margin-right: 15px;padding-left: 5px;text-align: left;}

.error_msg {float: left;}

.formrowtxt span, .formrow span {color: #F0522F;}
.formrowtxt .red12bold p{
	color: #F0522F;
}
select.selecttext {border: 1px solid #B7B8B3;color: #666666;float: left;font-size: 12px;height: 22px;line-height: 22px;margin-right: 15px;padding-left: 5px;
text-align: left;
}

.submitbgcss {background: url(../images/bg_newu.jpg) repeat-x center bottom !important;}	

a.backlink {float: left;}

input.submitbuttoncss {background:#75952A;border: 1px solid #fcfcfc;color: #FFFFFF; cursor: pointer;float: right;/*font-size: 14px;*/height: 28px;line-height: 28px;text-align: center;min-width: 55px; padding:0 7px;}
input.resetbuttoncss {
	background:#75952A;
	border: 1px solid #fcfcfc;
	color: #FFFFFF;
	cursor: pointer;
	float: right;/*font-size: 14px;*/
	height: 28px;
	line-height: 28px;
	text-align: center;
	min-width: 55px; 
	padding:0 7px;
}

h4.requered {color: #F25512;font-size: 11px; float:right;font-weight: normal;padding: 0 0 15px 5px;text-align: right;text-transform: capitalize;}

.inner_page fieldset p{font-size: 12px;line-height:20px;padding-bottom: 10px;}

.inner_page fieldset a{color: #287DD0;font-size: 12px;line-height: 18px;text-align: left;text-decoration: none;}

.inner_page fieldset a:hover{text-decoration:underline;}

.inner_page .linkoddrow{ background-color:#edf0f5; padding:5px 0px 5px 5%;font-size:12px; color:#393939;text-align:left; width:95%;}

.inner_page .linkevenrow{ background-color:#FAFAFA; padding:5px 0px 5px 5%;font-size:12px; color:#3d3c3c;text-align:left; width:95%;}

.newstudents{font-size:14px;color:#ef6608;text-align:left;text-transform:uppercase;	font-weight:normal;padding:0 0 10px 25px;border-bottom:1px solid #cbccce;

	background:url(../images/newstudents.jpg) no-repeat left top; margin:0;margin-bottom:10px;}

.studentslogin{font-size:14px;color:#ef6608;text-align:left;text-transform:uppercase;font-weight:normal;padding:0 0 5px 0px;border-bottom:1px solid #cbccce;

	background:url(../images/studentslogin.jpg) no-repeat left top;margin:0;margin-bottom:15px;
}

a.creatana{width:121px;height:19px;float:right;border:1px solid #dd5501;background:#f18100;	color:#fff !important;font-size:14px;text-align:center !important;line-height:19px;}	

a{ cursor:pointer;}

.titlerow{ background:#C0D2FF;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px; font-weight:bold;}

.oddrow{ background:#ECEFF5;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px;}

.evenrow{ background:#FBF6F6;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 10px;}

.selectedodd{ background:#d3d6ff;color:#0f0e0d; line-height:20px; padding:2px 5px 2px 10px;}

.selectedeven{ background:#e9eaff;color:#0f0e0b; line-height:20px; padding:2px 5px 2px 10px;}

.listoddrow{ background-color:#edf0f5; padding:5px 8px 5px 8px; border:1px solid #ecf0f6; font-size:12px; color:#393939;}

.listevenrow{ background-color:#FAFAFA; padding:5px 8px 5px 8px; border:1px solid #ECEFF5; font-size:12px; color:#3d3c3c;}



.oddrow{ border-bottom:1px dotted #ECEFF5;color:#0A0A09; line-height:20px; padding:2px 5px 2px 5px;}

.evenrow{ border-bottom:1px dotted#FBF6F6;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 5px;}

.oddrow{ border-bottom:1px dotted #ECEFF5;color:#0A0A09; line-height:20px; padding:2px 5px 2px 5px;}

.evenrow{ border-bottom:1px dotted#FBF6F6;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 5px;}

.oddrow, .evenrow{
	border:none; 
   -webkit-border-radius:5px; 
   -moz-border-radius:5px; 
   border-radius:5px; 
   -webkit-box-shadow:0 0 3px #666 inset;
   -moz-box-shadow:0 0 3px #666 inset; 
   box-shadow:0 0 3px #666 inset;
   text-indent:5px; 
 }



.readmore{font-size:12px; color:#909090; font-weight:bold; padding-right:10px; float:right; text-decoration:none;}

.anchordeepred12bold{ font-size:12px; color:#b22626; line-height:16px; cursor:pointer; font-weight:bold;}

.green12bold{ font-size:12px; color:#00CC00; font-weight:bold;}

.greendeep16bold{ font-size:16px; color:#3295cd; font-weight:bold;}

.grey11normal{ color:#303030; font-size:11px; font-weight:normal;}

.grey11bold{ color:#323232; font-size:11px; font-weight:bold;}

.greydeep16bold{color:#373737;font-size:16px;margin:10px 0;text-align:left;}

.black11normal{ font-size:11px; color:#373737; line-height:16px;}

.black11bold{ font-size:11px; color:#FFC650; line-height:16px; font-weight:bold; padding-left:10px;}

.black12normal{ color:#00000a; font-size:12px; font-weight:normal; line-height:18px}

.black12bold{ font-size:12px; color:#00000b; font-weight:bold; line-height:30px;}


.deepred11normal{ font-size:11px; color:#b22626; line-height:16px; font-weight:normal;}

.red11normal{ font-size:11px; color:#FF0000; line-height:16px; font-weight:normal;}

.red11bold{ font-size:11px; color:#FF0000; line-height:16px; font-weight:normal;}

.red12bold{ font-size:12px; color:#FF0000; line-height:16px; font-weight:normal;}

.deepred12bold{ float:left; font-size:12px; color:#8BC5E7; line-height:18px; font-weight:bold;}

.notification-error {background:url(../images/cross-on-white.gif) no-repeat;color: #C9282D;font-size: 12px;margin: 0 0 0 5px;padding: 0px 0 0px 20px;}


.orange16bold{ color:#f7570f; font-size:16px; line-height:22px; font-weight:bold; text-transform:capitalize; width:100%;}

.orange12normal{ color:#f7570f; font-size:12px; line-height:18px; text-transform:capitalize; text-align:center; width:100%;}

.white12normal{font-weight:normal; color:#fefefd; text-decoration:none; font-size:12px;}

.white12bold{font-weight:bold; color:#fefefe; text-decoration:none; font-size:12px;}

.ash12normal{font-weight:normal; color:#909090; text-decoration:none; font-size:12px;}

.errormsg,.errormsg p, .error_message_p p, .error_message_p{ font-size:12px; font-weight:normal;color:#FF0000; line-height:18px; margin:0px; padding:0px;}


.selectbox200x25bg{width:200px;height:24px;padding:0px 1px 1px 11px;display:block;background:url(../images/inputbox200x25bg.jpg) no-repeat; float:left;}

.select200x25none{width:200px;line-height:22px; line-height:22px;font-size:12px;color:#636363;padding-top:5px;border:0;background:none;}

.inputbox100x25bg{ border:none;width:110px;height:25px;padding:0 0 0 10px;display:block;background:url(../images/inputbox100x25bg.jpg) no-repeat; float:left;}

.input100x25none{width:80px;line-height:25px; height:25px;font-size:12px;color:#636363;border:0;background:none;}

.inputbox200x25bg{width:210px;height:23px;padding:1px;display:block;background:url(../images/inputbox200x25bg.jpg) no-repeat; float:left;}

.input200x25none{width:200px;line-height:23px;font-size:12px;color:#636363;padding:0 5px;border:0;background:none; height:23px;}

.error_input200x25none{width:200px;line-height:23px;font-size:12px;color:#636363;padding:0 5px;border:1px solid #990000;background:none; height:23px;}


.textBox_02{width:192px;height:30px;padding:0 10px;display:block;background:url(../images/bg_textbox_01.gif) no-repeat; float:left;}

.inputbox333bg{width:313px;height:30px;padding:0 10px 0 10px;display:block;background:url(../images/bg_textbox_01.png) no-repeat; float:left;}

.input285x18none{ width:285px; height:18px; color:#383737; margin:5px 0 0 0px; background:none; border:0px;}

.textarea400x100css{width:330px;height:90px;padding:5px 10px;display:block;background:url(../images/textarea400x100bg.png) no-repeat; float:left;}

.inputout212bg{

	border:none; 

   -webkit-border-radius:5px; 

   -moz-border-radius:5px; 

   border-radius:5px; 

   -webkit-box-shadow:0 0 5px #666 inset; 

   -moz-box-shadow:0 0 5px #666 inset; 

   box-shadow:0 0 5px #666 inset; 

   height:25px; 

   line-height:25px; 

   width:330px; 

   text-indent:5px;

   float:left;

}

.inputout212bg input{ width:310px; height:18px; background:none;border:none;color:#3c3b3b; margin:0px; padding:2px 4px;}

.inputout212bg select{ width:205px; height:18px; background:none;border:none;color:#3c3b3b; margin:0px; padding:2px 0 2px 8px;}

.textareaout212bg{width:208px; margin-top:5px;height:50px;padding:2px 2px 0;display:block;background:url(../images/textareaout212bg.png) no-repeat; float:left;}

.textareaout212bg textarea{ width:200px; height:43px; background:none;border:none;color:#3c3b3b; margin:0px; padding:2px 4px;}



.inputbox200x25bg{width:213px;height:25px;padding:0 10px 0 10px;display:block;background:url(../images/inputbox200x25bg.jpg) no-repeat; float:left;}

.input200x25none{width:190px;line-height:23px;font-size:12px;color:#636363;border:0;background:none; height:23px; margin:1px;}

.inputbox300x25bg{width:292px;height:24px;padding:3px 10px;display:block;background:url(../images/bg_textbox_01.png) no-repeat; float:left;}

.input300x25none{width:292px;line-height:24px; height:24px; font-size:12px;color:#636363;border:0;background:none;}



.inputbox285bg{width:285px;height:30px;padding:0 10px 0 10px;display:block;background:url(../images/bg_textbox285x30.gif) no-repeat; float:left;}

.input265x18none{ width:265px; height:18px; color:#383737; margin:5px 0 0 0px; background:none; border:0px;}



.inputbox250bg{width:250px;height:30px;padding:0 10px 0 10px;display:block;background:url(../images/bg_textbox250x30.gif) no-repeat; float:left;}

.input230x18none{ width:230px; height:18px; color:#383737; margin:5px 0 0 0px; background:none; border:0px;}



.input35x18round {background: none repeat scroll 0 0 #fdfdfb;border: 1px solid #CCCCCC;color: #353434;font-size: 11px;height: 18px;

	margin: 0 0 3px;padding: 2px 0 0 3px;width: 30px;}

.err_input20x15{ width:20px; height:15px; margin:0px; font-size:11px; color:#373737; padding:0px; background:#FFFFCC; border:1px solid #990000;}

.input20x15{ width:20px; height:15px; margin:0px; font-size:11px; color:#343434; padding:0px; background:#fdfdfa; border:1px solid #CCCCCC;}



.input200x25none_bangla{width:200px;line-height:23px;font-size:14px;color:#636363;padding:0 5px;border:0;background:none; height:23px;}

.inputbox300x25bg{width:292px;height:19px;padding:3px 10px;display:block;background:url(../images/bg_textbox_01.png) no-repeat; float:left;}

.input300x25none{width:292px;line-height:18px;font-size:12px;color:#636363;border:0;background:none; height:19px;}

.textarea400x100css{

    border: medium none;

    border-radius: 5px 5px 5px 5px;

    box-shadow: 0 0 5px #666666 inset;

    text-indent: 5px;

    width: 330px;

}

.textarea400x100css_bangla{ font-size:14px;width:330px;height:90px;padding:5px 10px;display:block;background:url(../images/textarea400x100bg.png) no-repeat; float:left; border:none;}



.input190x18none {

    border: 1px solid #666666;

    border-radius: 5px 5px 5px 5px;

    box-shadow: 0 0 5px #666666 inset;

    height: 25px;

    line-height: 25px;

    text-indent: 5px;

    width: 330px;

}

.submitbutton{background:#E7E7E7; padding:3px 8px 3px 8px; border:1px groove #9F9F9F;font-size:11px; cursor:pointer; color:#3d3b3b;}

.input200x20 {border: 1px solid #808080;font-size: 11px;height: 20px;padding: 0 0 0 5px;width: 200px;}

.dottedborder{ border-bottom:1px dotted #d1d6dc;}

.dottedbottomborder{ border-bottom:1px dotted #4C4C4C;}



/* ---------------------------for light box css---------------------*/

#fade {display: none;background: #000;position: fixed; left: 0; top: 0;width: 100%; height: 100%;opacity: .80;z-index:400;}

.popup_block{display: none;background: #fefefc;padding: 20px;border: 20px solid #ddd;	float: left;font-size: 1.2em;position: fixed;top: 50%; left: 50%;z-index:401;}

img.btn_close {	float: right;margin: -55px -55px 0 0; cursor:pointer;}

.poplight { font-size:12px; font-weight:bold;height:25px;margin:0px;padding:2px 10px 2px 10px; cursor:pointer; border:1px solid #CCCCCC;background:#c9c8c8; color:#020202; text-decoration:none;}

.poplight:hover{ color:#FFFFFF;background:#999999; text-decoration:none;}



#pagination a {background: none repeat scroll 0 0 #619BBD;color: #FFFFFF;float: left;font-size: 12px;margin: 3px;padding: 3px 7px;

    text-align: center;text-decoration: none;}

#pagination strong {background: none repeat scroll 0 0 #CBCACA;color: #3A3939;float: left;font-size: 12px;margin: 3px;

    padding: 3px 7px;text-align: center;text-decoration: none;}

ul.pretenderlist {margin: 0;width:100%; padding: 0;display: block;list-style: none; height:auto;}

ul.pretenderlist li{list-style:none;vertical-align:top;width:100%; margin:0px;display: block;padding:0px;;padding:0px; float:left;}

ul.pretenderlist li table{ width:100%; margin:0px;padding:0px;}

.fl{ float:left;}

.fr{ float:right;}

.productaddtoCartLeft span {float:left; font-size:14px; color:#333;}

.div120x22left{width:120px;height:22px; margin: 0;padding: 0; float:left;}

.div100x22left{width:100px;height: 22px;margin: 0;padding: 0; float:left;}

.div60x22left{width:60px; height: 22px;margin: 0;padding: 0; float:left;}

.div35x22left{width:35px; height: 22px;margin: 0;padding: 0; float:left;}

.div15x22left {width:15px; height: 22px;margin: 0;padding: 0; float:left;}

.div95per{width:95%;padding:0;margin:0;background:none; line-height:140%}

.uparrow{width: 14px;height: 10px;background: url(../images/uparrow.png) no-repeat scroll left top transparent;border: medium none;cursor: pointer;}

.downarrow {width:14px;height:10px;background: url(../images/downarrow.png) no-repeat scroll left top transparent;border: medium none;cursor: pointer;}

/*==============for gallery page================*/
.photo_gallery1 ul{
	margin:0;
	padding:0;
	list-style:none;
}
.photo_gallery1 ul li{
	float:left;
}
.photo_gallery1 ul li h3{
	font-size:14px;
}
.photo_gallery1 ul li img{
	border:1px solid #ccc;
	padding:2px;
}

/*==============for contactus page================*/

.inputbox320x25bg{border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 5px #666 inset;-moz-box-shadow:0 0 5px #666 inset;box-shadow:0 0 5px #666 inset;height:21px;line-height:21px;width:300px;float:left;padding:2px 10px;}

.inputbox320x25none{width:300px;line-height:21px;height:21px;font-size:12px;color:#000;border:0;background:none;}

.textarea320x100css{background:none;width:300px;border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 5px #666 inset;-moz-box-shadow:0 0 5px #666 inset; box-shadow:0 0 5px #666 inset;text-indent:5px;padding:5px 10px; color:#000;}



.submitbutton{ font-family: Verdana, Geneva, sans-serif;font-size:12px;color: #232323;padding:4px 15px;border: 1px solid #cfcfcf;text-decoration: none;border-radius:6px; -moz-border-radius:6px;-webkit-border-radius:6px;background: #eeeeee;

    background: -moz-linear-gradient(-90deg, #dedede 5%, #f6f6f6 15%, #f2f2f2 35%, #ededed 75%, #ebebeb 100%, #fff);

    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ebebeb), color-stop(0.2, #dedede), color-stop(0.5, #f6f6f6), color-stop(.7, #ededed), color-stop(0.9, #ebebeb));

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ebebeb', GradientType=0 );

    cursor: pointer; 

}

.submitbutton:hover{

    background: -moz-linear-gradient(90deg, #dedede 5%, #ededed 15%, #f2f2f2 35%, #f6f6f6 75%, #f2f2f2 100%, #fff);

    background: -webkit-gradient(linear, left bottom, left top, from(#dedede), to(#dedede), color-stop(0.2, #ebebeb), color-stop(0.5, #ededed), color-stop(.7, #f6f6f6), color-stop(0.9, #dedede));

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#dedede', GradientType=0 );

}

.cat_bg{width:205px;height:25px;padding:5px 5px 0 40px;background:url(../images/bg_cat.png) no-repeat;}

.item{width:90px;float:left;font-family:Tahoma, Geneva, sans-serif;font-size:12px;line-height:20px;color:#fcf9f9;font-weight:normal;}

.itemPrice{width:70px;float:left;font-family:Tahoma, Geneva, sans-serif;font-size:12px;line-height:20px;color:#066eb0;font-weight:normal;}

.product_new{width:60px;float:left;font-family:Tahoma, Geneva, sans-serif;font-size:12px !important;line-height:20px !important;color:#fcf9f9;font-weight:normal; text-align:left;}

.productSize{width:55px;float:left;font-family:Tahoma, Geneva, sans-serif;font-size:12px !important;line-height:20px !important;color:#066eb0;font-weight:normal; text-align:left;}

a.chekout{width:70px;height:20px;float:right;font-family:Tahoma, Geneva, sans-serif;font-size:11px;line-height:20px;color:#fcf9f9;

	text-align:center;background:url(../images/chekout.png) no-repeat; text-align:center;}

.shortcartlist{ width:236px; position:absolute; top:99px; right:0;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px; 

	z-index:9999; display:none; font-size:11px; line-height:18px; border:2px solid #cfcfcf; background:#ededed; padding:5px;

	margin:0 auto;}



.shortcartlist td{ padding:3px;}

