/* CSS Document for IE */
*html .topsubmenu{width:961px; height:28px;margin:0px; padding:0px; float:left;display: none;
	background:url(../images/mainmenusubbg.jpg) repeat-x;filter:alpha(opacity=0);}
*html #toplinkmenu ul li{text-align:center; margin:0px; padding:5px 3px 0px 3px; list-style-type:none; float:left;}
*html .mainmenubg ul li{text-align:center; margin:0px; padding:10px 15px 0px 15px; list-style-type:none; float:left; height:35px;}
*html .mainmenubg ul li:hover{text-align:center; margin:0px; padding:10px 15px 0px 15px; list-style-type:none; float:left; height:35px; 
	background:url(../images/mainmenuhoverbg.jpg) repeat-x;}
*html .mainmenubg ul li.active{text-align:center; margin:0px; padding:10px 15px 0px 15px; list-style-type:none; float:left; height:35px; 
	background:url(../images/mainmenuhoverbg.jpg) repeat-x;}
*html .topsubmenu{ margin-top:-10px;}
*html #div159x50headerright{ margin:10px 20px 0 0;}
