#printIT{
	display:none;
}
.tablelist td{ padding:10px;}

.black12normal{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000;}

.black14bold{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000;}

.black14normal{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#000;}

.titlerow{ background:#C0D2FF;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px; font-weight:bold;}

.oddrow{ background:#ECEFF5;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px;}

.evenrow{ background:#FBF6F6;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 10px;}