#banner{width:670px;height:374px;margin:0 auto;overflow:hidden;}
ul.bannerSlide {width:100%;height:100%;list-style:none;overflow:hidden;}
.bannerSlide li {width:100%;height:100%;list-style:none;position:relative;	}
/*===========bannerTxt============*/
.bannerTxt {width:490px;position:absolute;top:194px;left:0;}
.bannerTxt h3{width:490px;color:#fff;font-size:85px;line-height:85px;font-weight:normal;margin-left:18px;text-align:left;
	text-transform:capitalize;font-family:"Bebas Neue";border-top:1px solid #4a4039;border-bottom:1px solid #4a4039;}
.bannerTxt p{line-height:58px;color:#000000;font-size:26px;padding-left:18px;text-align:left;text-transform:capitalize;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}