﻿.navbar{
	clear:both;
	margin-bottom:0;
}
.navbar-collapse {
	padding-left:0;
	padding-right:0;
}
.navbar-toggle {
    border-color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: #FFF;
}

#myslidemenu{
	max-width:1000px;
	float:left;
	line-height:normal;
	z-index:100;
	}

#myslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
z-index:100;
}

/*Top level list items*/
#myslidemenu ul li{
position: relative;
display: inline;
float: left;
font:normal 16px Calibri;
text-transform:uppercase;

}


#myslidemenu ul li a {
    display:block;
    padding:12px 15px 0 15px;
	color:#ffffff;
	height:46px;
}
	
#myslidemenu .no_lnk{
	display:block;
    padding:30px 15px 0 15px;
	height:46px;
	color:#ffffff;
    } 	


/*Top level menu link items style*/


* html #myslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

#myslidemenu ul li a:link, #myslidemenu ul li a:visited{
text-decoration: none;
}

.nv_normal a:hover{
color:#0e84b7;
}
.active .nv_normal a:hover{
color:#e2e1e1;
}
	
/*1st sub level menu*/
#myslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;  padding-bottom:20px;
background:url(../images/dr_bt.png) bottom no-repeat;
line-height:13px;
}

#myslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden; 
line-height:13px;
float:left;
}
/*Sub level menu list items (undo style from Top level List Items)*/
#myslidemenu ul li ul li{
display: list-item;
float: none;
background-color:#20532d;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
#myslidemenu ul li ul li ul{
top: 0;
margin-top:-3px;
}

/* Sub level menu links style */
#myslidemenu ul li ul li a{
 /*width of sub menus*/
padding:6px 5px 6px 10px;
margin: 0;
width:190px;
height:auto;
border-top-width: 0;
border-bottom: 1px solid #307441;
background-color:#20532D; 
color:#fff;
border-right:none;
text-transform:capitalize;
}

#myslidemenu ul li ul li a:hover{ /*sub menus hover style*/
background-color:#0f3b1a;
color:#ffffff;
}

/* Sub sub level menu links style */
#myslidemenu ul li ul li ul li a{
font:normal 16px Calibri;
 /*width of sub menus*/
padding:3px 5px;
margin: 0;
width:220px;
border-top-width: 0;
border-bottom: 1px solid #187ea8;
background-color:#5fa2c4; color:#fff;
}

#myslidemenu ul li ul li ul li a:hover{ /*sub sub menus hover style*/
background-color:#bebdbd;
color:#4f4f4f;
}
/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 9px;
}

.rightarrowclass{
position: absolute;
top: 9px;
right: 5px;
}
@media (max-width: 768px) {
	#myslidemenu ul li{
		width: 100%
	}
	#myslidemenu ul li:last-child{
		padding-bottom: 20px;
	}
	
}