﻿body {
	font:normal 14px Tahoma;
	color:#484848;
	margin:0;
	padding:0;
	background:#4b8a45 url(../images/bg.jpg) top repeat-x;
}
html, form 
{
	margin:0;
	padding:0;
	}
  a { color: #456b0e; background: transparent;text-decoration:none; }
  a:hover { text-decoration:none;color: #152104;}
  a:link img, a:visited img { border-style: none } /* no border on img links */
  a img { color: white; border:none;}        /* trick to hide the border in Netscape 4 */
  a img { color: inherit;}    /* undo the color change above */
 .float_left{float:left;}
 .float_right{float:right;}
 .row0{float:left;width:100%;}
 
#wrapper00
{
	width:100%;
	float:left;
	background:url(../images/header_suffa.jpg) top no-repeat;
	}
#wrapper0
{
	max-width:1000px;
	margin:0 auto;
	}
	
#wrapper
{
	float:left;
	width:100%;
	}
#top 
{
	float:left;
	width:100%;
	height:207px;
	}
.logo
{
	width:300px;
	float:left;
	height:207px;
	}

.content
{
	float:left;
	width:100%;
	line-height:22px;
	padding:0px 0;
	background-color:#eef8ee;
}	
.con_left0
{
	float:left;
	max-width: 700px;
	}
.con_left
{
	float:left;
	max-width:680px;
	padding:0 0 0 20px;
	}
	
.content2
{
	float:left;
	max-width:960px;
	line-height:22px;
	padding:20px;
	background-color:#eef8ee;
}	
.con_right
{
	float:right;
	max-width:275px;
	padding:0;
	font-size:12px;
	line-height:normal;
	}

.mission
{
	float:left;
	max-width:700px;
	background-color:#d7f0fa;
	font-size:14px;
	color:#152104;
	margin-bottom:20px;
	}
.mission img
{
	float:left;
	padding:20px;
	}
.mission p
{
	padding:20px;
	margin:0;
	}
.mailing
{
	float:right;
	width:274px;
	padding:30px 0 0 0;
	}
.mailing2
{
	float:right;
	width:240px;
	padding:20px 0 20px 10px;
	background-color:#ddefdb;
	}
.mailing2 p
{
	padding:0 0 0 10px;
	margin:0;
	float:left;
	width:160px;
	}
.bn1
{
	float:left;
	width:100%;
	height:440px;
	}
.bn3
{
	float:left;
	width:100%;
	height:220px;
	}
.bn2
{
	float:right;
	width:250px;
	margin-top:30px;
	}
.social
{
	width:265px;
	float:right;
	padding:20px 0 0 0;
	}	
.social img
{
	float:left;
	}		
.h1class
{
	margin:0;
	padding:0px 0 10px 0;
	font:normal 36px Calibri, Myriad Pro, Arial;
	color:#2c653b;
}
	
.h2class1,.conHead
{
	margin:0px 0px 10px 0px;
	padding:0px 0 0px 0;
	font:normal 30px Calibri, Myriad Pro, Arial;
	color:#2c653b;
	border-bottom:1px solid #2c653b;
	}
.h2class3
{
	margin:0;
	padding:0;
	font:normal 26px Calibri, Myriad Pro, Arial;
	color:#2c653b;
	}	
.h2class2
{
	margin:0px 0 5px 0;
	padding:8px 0 0 50px;
	width:274px;
	height:39px;
	float:right;
	font:bold 18px Calibri, Myriad Pro, Arial;
	color:#eef8ee;
	background:url(../images/right_bg.gif) 0 0 no-repeat;
	}
	
.h2class2 a
{
	color:#eef8ee;
	}	
.academic_calendar
{
	padding:5px 0 5px 0;
	width:274px;
	float:right;
	font:normal 18px Calibri, Myriad Pro, Arial;
	background-color:#2c8523;
	text-align:center;
	}
	
.academic_calendar a
{
	color:#ffffff;
	}
.img1
{
	float:left;
	margin:0 20px 10px 0;
	}
.form2
{
	border:1px solid #949494;
	margin:5px 0 0 0;
	padding:4px;
	background-color:#eef8ee;
	width:130px;
	font-size:12px;
	}
.btn2
{
	background-color:#4b8a45;
	padding:2px 15px;
	border:1px solid #2d7526;
	text-align:center;
	color:#eef8ee;
	float:right;
	margin:5px 20px 0 0;
	}
.btn4
{
	background-color:#4b8a45;
	padding:2px 15px;
	border:1px solid #2d7526;
	text-align:center;
	color:#eef8ee;
	float:left;
	margin:5px 20px 0 0;
	}
	
.btn3
{
	background-color:#1b682f;
	padding:2px 15px;
	border:1px solid #34602c;
	text-align:center;
	color:#eef8ee;
	float:right;
	margin:0;
	}
.btn5
{
	background-color:#4b8a45;
	padding:9px 15px;
	border:1px solid #2d7526;
	text-align:center;
	color:#eef8ee;
	margin:0;
	}
.program_box{
	float:left;
	margin:5px;
}
.program_box h3{
	margin-top:5px;
}
.program_box a{
	font-size:14px;
}
.line
{
	width:100%;
	float:left;
	height:9px;
	background:url(../images/stars.gif);
	margin:20px 0;
	}
.news_row
{
	width:680px;
	float:left;
	padding:15px 0;
	}
.news_thumb
{
	float:left;
	margin:0 15px 0 0;
	}
.news_row h2
{
	padding:5px 0 10px 0;
	font:normal 16px Tahoma;
	margin:0;
	}
.news_row p
{
	padding:0;
	margin:0;
	line-height:normal;
	}
.news_row p a
{
	color:#0174b1;
	text-decoration:underline;
	}
.inner_page {padding-left: 10px;}
.site_map
{
	float:left;
	width:100%;
	font-size:11px;
	color:#152208;
	border-bottom:1px dotted #d1d1d1;
	padding:0 0 5px 0;
	margin:0 0 10px 0;
	}
.site_map a
{
	color:#54594f;
	font-size:11px;
	text-decoration:none;
	}
.category 
{
	float:right;
	width:250px;
	background-color:#ddefdb;
	padding:8px 0 20px 0;
	font:normal 14px Tahoma;
	color:#000000;
	margin:0 0 20px 0;
	}
.category ul 
{
margin:0;
padding:0;
list-style-type:none;	
	}
.category ul li 
{
padding:7px 0 7px 20px;	
border-bottom:1px dotted #b8cbb6;	
}
.category ul li a 
{
font:bold 13px Tahoma;
color:#2b5227;
	}
.category ul .active
{
	color:#12c600;
	}	

.mv_desc
{
	float:left;
	padding:5px 0;
	width:100%;
	}
.video_thumb
{
	float:left;
	width:580px;
	padding:0 0 50px 0;
	}
.vd_thumb
{
	float:left;
	width:320px;
	padding:0 20px 0 0;
	}
.video_thumb h3, .video_thumb2 h3
{
	font:normal 20px Myriad Pro, Arial;
	color:#804e0d;
	margin:0;
	padding:0 0 20px 0;
	}	
.show
{
	float:right;
	width:235px;
	}
.ytb_row
{
	width: 100%;float:left;padding-top:15px;
	}	

.gal_thumb
{
float:left;
width:131px;
padding:13px 10px 0 14px;
height:140px;
font-size:11px;
border:1px solid #cfd6ce;
margin:0 25px 30px 25px;
text-align:center;
background-color:#d0e2cf;
}
.gal_thumb img
{
float:left;
margin-bottom:10px;
}

.gal_thumb h3
{
	font:normal 11px verdana;
	line-height:15px;
	color:#3c5b89;
	}
.row4
{
	border-bottom:1px dotted #bdbdb2;
	padding:10px 5px 10px 0;
	line-height:normal;
	float:left;
	width:235px;
	}

.row4 a
{
	font-weight:bold;
	}
.mailing2 ul
{
	margin:0;
	padding:0;
	list-style:none;
	}
.mailing2 ul li
{
	border-bottom:1px dotted #bdbdb2;
	padding:10px 5px 10px 0;
	line-height:normal;
	}
.mailing2 ul li a
{
	font-weight:bold;
	}

.row5
{
	border-bottom:1px dotted #bdbdb2;
	padding:10px 0;
	margin-bottom:15px;
	line-height:normal;
	float:left;
	width:100%;
	}
.row5 a
{
	text-decoration:none;
	}	
.row5 h2 
{
	margin:0;
	padding:0 0 5px 0;
	font:normal 16px Trebuchet MS;
	}

.br5
{
	margin:40px 0;
	float:right;
	}
.date
{
	float:right;
	font-style:italic;
	color:#6d6e6d;
	}
.date2
{
	font-style:italic;
	color:#6d6e6d;
	}

.top_nav
{
	width:500px;
	float:right;
	padding:15px 0 0 0;
	height:150px;
	display: none;
	}	
.top_nav ul
{
	padding:0;
	margin:0;
	float:right;
	}
.top_nav ul li
{
	display:inline;
	}
.top_nav ul li a
{
	padding-right:10px;
	font-size:12px;
	color:#ffffff;
	}

.top_search
{
	width:250px;
	float:right;
	margin-top: 109px;
	margin-right: 18px;
	}	
.srch_form
{
	float:left;
	width:190px;
	margin:0;
	padding:2px 5px;
	background-color:#dbf5d6;
	border:1px solid #1e5d2e;
	}		
.pgr_bdr a
{
border:1px solid #7e4d0c;
color:#7e4d0c;
text-decoration:none;
padding:2px 5px;	
font:bold 11px Calibri; 
	}
.pgr_bdr a:hover
{
border:1px solid #7e4d0c;
background-color:#7e4d0c;
color:#ffffff;
text-decoration:none;
padding:2px 5px;	
font:normal 11px Calibri; 
	}	
.pager_active
{
border:1px solid #7e4d0c;
background-color:#7e4d0c;
color:#ffffff;
text-decoration:none;
padding:2px 5px;	
font:normal 11px Calibri; 
	}
.pgr_bdr2 a
{
border:1px solid #7e4d0c;
color:#7e4d0c;
text-decoration:none;
padding:2px 5px;	
font:bold 11px Calibri; 
	}
.pgr_bdr2 a:hover
{
border:1px solid #7e4d0c;
background-color:#7e4d0c;
color:#ffffff;
text-decoration:none;
padding:2px 5px;	
font:normal 11px Calibri; 
	}
.pgr_bdr2 span
{
border:1px solid #7e4d0c;
background-color:#7e4d0c;
color:#ffffff;
text-decoration:none;
padding:2px 5px;	
font:normal 11px Calibri; 
	}	

.br4 
{
border-bottom:1px dotted #d1d1d1;
	padding:10px 0;
	}		

.capcha_form 
{
	border:1px solid #666666;
	font:normal 26px Arial;
	color:#666666;
	padding:2px 5px;
	margin-left:10px;
	}
.form_box
{
	float:left;
	width:260px;
	padding:16px 0 15px 0;
	text-align:left;
	}
.form_box2
{
	float:left;
	width:360px;
	padding:16px 0 15px 25px;
	text-align:left;
	}
.form_input
{
	float:left;
	width:260px;
	padding:3px 0 13px 0;
	}
.form_input2
{
	float:left;
	width:360px;
	padding:3px 0 25px 0;
	}
.name_input
{
	float:left;
	width:220px;
	border:1px solid #b5ccb5;
	margin:0;
	padding:10px;
	color:#626262;
	font-size:12px;
	}
.name_input2
{
	float:left;
	margin:0;
	width:350px;
	padding:10px;
	border:1px solid #b5ccb5;
	}

.notes
{
	color:#717171;
	font-size:11px;
	}	
#ApplicationSteps
{
	line-height:normal;
	padding:20px 20px 50px 20px;
	border:1px dotted #d1d1d1;
	background-color:#f7fff7;
	}
#ApplicationSteps h1
{
	margin:0;
	padding:15px 0 5px 0;
	font:normal 26px Calibri, Myriad Pro, Arial;
	}
#ApplicationSteps h2
{
	margin:0;
	padding:15px 0 5px 0;
	font:normal 20px Calibri, Myriad Pro, Arial;
	}
#ApplicationSteps legend
{
	font:normal 20px Calibri, Myriad Pro, Arial;
	color:#0e9201;
	padding:0 5px;
	}
#ApplicationSteps fieldset
{
	margin-bottom:30px;
	background-color:#e5efe5;
	}

.box1
{
	width:100%;
	float:left;
	padding:15px 0;
	border-bottom:1px dotted #c7cebd;
	}	
	
.td1
{
	text-align:right;
	color:#618369;
	width:170px;
	}	
	
.form1
{
	width:220px;
	border:1px solid #b5ccb5;
	margin:0;
	padding:5px;
	color:#626262;
	font-size:12px;
	}
.form3
{
	border:1px solid #b5ccb5;
	margin:0 0 5px 0;
	padding:5px;
	color:#626262;
	font-size:12px;
	}
.form4
{
	border:1px solid #b5ccb5;
	margin:0;
	padding:10px;
	color:#626262;
	font-size:14px;
	}
.form5
{
	border:none;
	padding:3px;
	background-color:#e0e2e0;
	width:15px;
	}	
/* End Sticky Footer */

#footer00
{
	width:100%;
	float:left;
	padding:27px 0;
	background:#474747 url(../images/bg_ft.gif) top repeat-x;
	}
#footer0
{
	max-width: 1000px;
	height:217px;
	margin: 0 auto;
	background:url(../images/bg_ft.jpg) center no-repeat;
	}
#footer01
{
	width:100%;
	height:217px;
	float:left;
	background:url(../images/NCA.png) left bottom no-repeat;
	}
#footer 
{
	width:100%;
	margin:0 auto;
	}
#footer1
{
	width:100%;
	float:left;
	padding:0 0px;
	color:#bab9b9;
	font-size:12px;
	}
#footer1 a
{
	color:#bab9b9;
	}
	
	
#footer1 ul
{
	padding:30px 0 20px 0px;
	margin:0;
	float:left;
	max-width:600px;
	}
#footer1 ul li
{
	display:inline;
	}
#footer1 ul li a
{
	padding-right:20px;
	font-size:12px;
	}
.ft_left
{
	float:left;
	max-width:750px;
	font-size:11px;
	line-height:22px;
	}

.ft_right
{
	float:right;
	max-width:250px;
	text-align:center;
	padding-top:15px;
	}
.ft_td1
{
	max-width:95px;
	float:left;
	font-weight:bold;
	text-align:right;
	color:#000000;
	padding:10px 5px 0 0;
	}
.ft_td2
{
	float:left;
	text-align:left;
	padding-top:10px;
	font-weight:bold;
	color:#d6d6d6;
	padding-left:50px;
	}
#footer1 a.plink:link, #footer1 a.plink:visited{
	text-decoration:none;
	color:#e5b613;
	font-family:Tahoma,Arial, Helvetica, sans-serif
	font-size:11px;
	font-weight:bold;
	font-size:11px;
}
#footer1 a.plink:hover{
	text-decoration:none;
	color:#c20000;
	font-size:11px;
	font-weight:bold;
}
	
#footer1 ul ul{ display:none;}
	
/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:11px;
	height:70px;
	width:160px;
	padding:20px 25px 25px 25px;
	color:#fff;
	line-height:16px;
}
.calendar
{
	float:left;
	width:610px;
	margin-top:20px;
	}	
.OtherMonthDayStyle
{
    background-color:#e4ffbe;
    border:1px solid #faf8f2;
    color:#a2a2a2;
    height:50px;
    }
.DayStyle
{
    border:1px solid #faf8f2;
    font:normal 14px Trebuchet MS;
    color:#000000;
    text-transform:uppercase;
    background-color:#b7ce95;
    height:50px;
    }  
    
.OtherMonthDayStyle2
{
    background-color:#e4ffbe;
    border:1px solid #faf8f2;
    color:#a2a2a2;
    height:30px;
    }
.DayStyle2
{
    border:1px solid #faf8f2;
    font:normal 14px Trebuchet MS;
    color:#000000;
    text-transform:uppercase;
    background-color:#b7ce95;
    height:30px;
    }      
.PT_np
   {
   	text-transform:uppercase;
   	color:#46760c;
   	text-align:center;
   	}
.cal_date
{
	font:normal 18px Trebuchet MS;
	color:#ffe697;
	background-color:#434a40;
	height:40px;
	}      
.PT_br
{
    border:1px solid #faf8f2;
    font:normal 12px Trebuchet MS;
    color:#ffc600;
    text-transform:uppercase;
    background-color:#5d5c5c;
    height:30px;
    }
/* tooltip styling. by default the element to be styled is .tooltip  */

.evt_bx 
{
float:left;
width:160px;
padding:10px 5px 0 5px;
height:270px;
font-size:11px;
border:1px solid #d6d0b4;
margin:0 25px 40px 25px;
background-color:#e4ffbe;
}
.evt_bx img
{
float:left;
padding:0 0 0 5px;
}
	
.ev_title
{
	float:left;
	width:100%;
	text-align:center;
	padding-top:5px;
	line-height:16px;
	}
.ev_date
{
	float:left;
	width:100%;
	text-align:center;
	padding-top:5px;
	font:bold 11px Verdana;
	}	
.br2
{
	float:left;
	margin:0 15px 10px 0;
	}
a.show_largeImge img{
	margin:8px 10px 0 0;
}
.left_search, .navbar-brand{
	display:none;
	width:0;
}
.serach_result{
	width:680px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.formrow label{width:100%; min-height:20px;}
	input.inputtext{max-width:100%;}
	.con_left_container{padding-left: 10px; padding-right: 10px;}
	.con_left{
		padding:0px;
	}
	.con_left0, .con_left, .news_row
		{
		width: 100%;
		}
		.con_right{
			float: left;
			padding-left: 20px;
		}
	
	.navbar-brand{
		display:block;
		color:#fff;
	}
	#top {height:0px;}
	#top .logo{ display:none;}
	.top_search{
		margin-top: 0px;
		top: 15px;
		width: 200px;
		position: absolute;
		left: 66px;
		z-index:2;
	}
	.top_search input.srch_form {
		width: 135px;
		padding: 2px 5px;
	}
	.top_search .btn3 {
		float: left;
		padding: 2px 5px;
	}
	.serach_result{
		width:100%;
		position:relative;
	}
	.top_nav {
		position: absolute;
		top:0;
		width: 100%;
		float: none; 
		padding: 15px 0 0 0;
		height: 150px;
	}
	
	#wrapper00
	{
		width:100%;
		float:left;
		background:url(../images/IQA_mobile.jpg) top no-repeat;
	}
}
/* Small devices (iphone, 480px and bellow) */
@media (max-width: 480px) { 
	.float_left {
		float: none;
		text-align: center;
	}
	.ft_right {
		float: none;
		max-width: 100%;
		text-align: center;
		padding-top: 15px;
	}
	.ft_td2 {
		float: none;
		text-align: center;
		padding-left: 0px;
	}
}


.mc-field-group,.submit-button{float:left}
.mc-field-group label{width:185px; display: block;}
.mc-field-group input{width:180px;}
.submit-button .button{margin-top: 27px;}
#mc_embed_signup h2{margin-top: 0px;font-size: 20px;}
