@charset "utf-8";

/*======================================================================

	Project Name: SUFFA

	Creator     : Md.Shafiqul Islam

	E-mail		: shafiqswh@gmail.com

	Date        : 2014-11-08

========================================================================*/

body{

	font-family:Helvetica,Arial,sans-serif;

	font-size:14px;

	background:#ebebeb;

	}



/*===========@Global Styles ============*/

*{margin:0; padding:0; outline:none}

img,fieldset{border:0}

a{text-decoration:none}

.clr{ clear:both;}

@font-face {

	font-family:Helvetica,Arial,sans-serif;

	src:url("../fonts/Oswald-Light.eot?") format("eot"),

	url("../fonts/Oswald-Light.woff") format("woff"),

	url("../fonts/Oswald-Light.ttf") format("truetype"),

	url("../fonts/Oswald-Light.svg#Oswald-Light") format("svg");

	}



/*==================================================================

								Header

=====================================================================*/

#header_top{

	width:100%;

	height:48px;

	background:url(../images/interface/header_top.jpg) repeat-x ;

}

#header{

	width:100%;

	height:108px;

	background:url(../images/interface/hedarbg.jpg) repeat-x center top;

	}

/*==============================HeaderWrapper===========================*/

#header_inner{

	width:1000px;

	height:108px;

	margin:0 auto;

	}

.logo{

	width:554px;/*345*/

	height:84px;/*110*/

	float:left;

	padding:24px 0 0 15px;

	}

.header_right{

	width:415px;

	height:90px;

	float:left;

	padding-top:16px;

	}

/*-----------------------------main_nav-------------------------------*/

#mainnav_wrapper{

	width:100%;

	height:43px;

	background:url(../images/interface/nav.jpg) repeat-x center top;

	}

#nav_inner{

	width:1000px;

	height:43px;

	margin:0 auto;

	}

.main_nav{

	width:700px;

	float:left;

	}

.main_nav ul{

	width:100%;

	overflow:hidden;

	}

.main_nav ul li{

	float:left;

	list-style:none;

	}

.main_nav ul li a{

	font-size:18px;

	line-height:43px;

	color:#fff;

	font-family:Helvetica,Arial,sans-serif;

	text-transform:capitalize;

	padding:0 22px;

	display:block;

	}

.main_nav ul li a:hover,.main_nav ul li.current a{

	text-decoration:underline;

	}

/*---------search_box----------------*/

.search_box{

	width:245px;

	height:31px;

	margin-top:7px;

	float:right;

	}

.search_input{

	width:154px;/*204*/

	height:31px;

	font-size:12px;

	line-height:31px;

	color:#000;

	font-family:Helvetica,Arial,sans-serif;

	float:left;

	padding:0 10px 0 40px;

	border:none;

	background:url(../images/interface/bg_search_input.png) no-repeat;

	}

.search_button{

	width:35px;

	height:31px;

	float:right;

	font-size:16px;

	line-height:31px;

	color:#fff;

	font-family:Helvetica,Arial,sans-serif;

	border:none;

	text-align:center;

	cursor:pointer;

	background:none;

	}

/*===================================================================

								Bannar

=====================================================================*/

#bannar{

	width:100%;

	overflow:hidden;

	text-align:center;

	position:relative;

	background:url(../images/interface/red.png) repeat;

	}

#bannarinner{

	width:100%;

	margin:0 auto;

	/*max-height:400px;*/

	overflow:hidden;

	text-align:center;

	position:relative;

	}

/*===============================BannarWrapper=========================*/

#bannar_inner00{

	width:100%;

	height:509px;

	position:absolute;

	top:0px;

	left:0px;

	}

.bannar_inner{

	width:1000px;

	height:290px;

	margin:0 auto;

	}

.banner_effect{

	width:561px;/*581*/

	height:154px;

	margin-top:220px;

	padding-left:20px;

	background:url(../images/interface/banner_effect.png) no-repeat;

	}

.banner_effect h3{

	font-size:80px;

	line-height:80px;

	color:#5f5f5f;

	font-family:Helvetica,Arial,sans-serif;

	font-weight:normal;

	text-transform:uppercase;

	padding-top:10px;

	text-align:left;

	}

.banner_effect h4{

	font-size:50px;

	line-height:53px;

	color:#5f5f5f;

	font-family:Helvetica,Arial,sans-serif;

	font-weight:normal;

	text-transform:uppercase;

	text-align:left;

	}

/*===================================================================

							  mainPage

=====================================================================*/

#mainPage{

	width:100%;

	background:url(../images/interface/red.png) repeat;

	overflow:hidden;

}

.footer_left{

	float:left;

	background: url(../images/interface/gass_left.png) no-repeat left bottom;

	width:100%;

}

.footer_right{

	float:right;

	background: url(../images/interface/gass_left.png) no-repeat right bottom;

	width:100%;

}

#maininner{

	width:1000px;

	overflow:hidden;

	margin:0 auto;

	}

/*-----------------------------page_top---------------------------------*/

.page_top{

	width:1000px;

	overflow:hidden;

	padding-bottom:33px;

	}

.page_top h3{

	font-size:40px;

	line-height:84px;

	color:#000;

	font-family:Helvetica,Arial,sans-serif;

	font-weight:normal;

	text-transform:uppercase;

	text-align:center;

	}

.page_top p{

	font-size:14px;

	line-height:22px;

	color:#fff;

	font-family:Helvetica,Arial,sans-serif;

	text-align:center;

	padding-bottom:22px;

	}

/*-----------------------------page_mid---------------------------------*/

.page_mid{

	width:1000px;

	overflow:hidden;

	padding-top:40px;

	}

.what_do{
	width:260px;
	float:left;
	}
.what_do h3{
	font-size:25px;
	line-height:30px;
	color:#333333;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	padding-bottom:6px;
	}
.what_do p{
	font-size:14px;
	line-height:20px;
	color:#fff;
	font-family:Helvetica,Arial,sans-serif;
	text-align:justify;
	padding-bottom:27px;
	}
.what_do h4{
	font-size:18px;
	line-height:41px;
	color:#fff;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:normal;
	padding-left:13px;
	background:url(../images/interface/bg_text00.png) no-repeat;
	}
.what_do h4 a{
	color:#fff;
	}
.what_do h4 a:hover{
	text-decoration:underline;
	}
.what_do h5{
	font-size:18px;
	line-height:41px;
	color:#fff;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:normal;
	padding-left:13px;
	margin-top:3px;
	background:url(../images/interface/bg_text11.png) no-repeat;
	}
.what_do h5 a{
	color:#fff;
	}
.what_do h5 a:hover{
	text-decoration:underline;
	}
.what_do h6{
	font-size:18px;
	line-height:41px;
	color:#fff;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:normal;
	padding-left:13px;
	margin-top:3px;
	background:url(../images/interface/bg_text22.png) no-repeat;
	}
.what_do h6 a{
	color:#fff;
	}
.what_do h6 a:hover{
	text-decoration:underline;
	}
.what_do h4.blue{
	font-size:18px;
	line-height:41px;
	color:#fff;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:normal;
	padding-left:13px;
	margin-top:3px;
	background:url(../images/interface/bg_text33.png) no-repeat;
	}
.what_do h4.blue a{
	color:#fff;
	}
.what_do h4.blue a:hover{
	text-decoration:underline;
	}

/*-------------*/
.program_box{
	width:176px;
	float:left;
	margin-left:9px;
	text-align:center;
	}
.program_box h3{
	font-size:14px;
	line-height:50px;
	color:#fff;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	/*padding-left:9px;*/
	background:#000;
	}
.program_box h3 a{
	color:#fff;
	}
.program_box h3 a:hover{
	text-decoration:underline;
	}		
/*-----------------------------page_bottom---------------------------------*/

.page_bottom{

	width:1000px;

	overflow:hidden;

	margin-top:40px;

	background:#fff;

	padding:15px 0;

	}

.our_mission{

	width:275px;/*300*/

	float:left;

	padding-left:25px;

	margin-right:50px;

	}

.our_mission h3{

	font-size:25px;

	line-height:50px;

	color:#75952a;

	font-family:Helvetica,Arial,sans-serif;

	font-weight:normal;

	text-transform:uppercase;

	}

.our_mission img{

	margin-bottom:12px;

	}

.our_mission p{

	font-size:14px;

	line-height:20px;

	color:#666;

	font-family:Helvetica,Arial,sans-serif;

	}

/*--------------------------------*/

.our_objectives{

	width:266px;

	float:left;

	}

.our_objectives h3{

	font-size:25px;

	line-height:50px;

	color:#75952a;

	font-family:Helvetica,Arial,sans-serif;

	font-weight:normal;

	text-transform:uppercase;

	}

.our_objectives ul{

	width:100%;

	overflow:hidden;

	}

.our_objectives ul li{

	float:left;

	list-style:none;

	line-height:30px;

	background:url(../images/interface/bg_objectives.png) no-repeat left top 10px;

	width:100%;

	}

.our_objectives ul li a{

	font-size:14px;

	color:#666;

	font-family:Helvetica,Arial,sans-serif;

	padding-left:25px;

	display:block;

	}

.our_objectives ul li a:hover{

	text-decoration:underline;

	}

/*--------------------------------*/

.latest_events{

	width:275px;/*300*/

	float:right;

	padding-right:25px;

	}

.latest_events h3{

	font-size:25px;

	line-height:50px;

	color:#75952a;

	font-family:Helvetica,Arial,sans-serif;

	font-weight:normal;

	text-transform:uppercase;

	}

.event_box{

	width:275px;

	overflow:hidden;

	padding:15px 0;

	border-bottom:1px dashed #acabab;

	}

.event_box img{

	float:left;

	margin:5px 10px 15px 0;

	}

.event_box h5{

	font-size:14px;

	line-height:20px;

	color:#4f4f4f;

	font-family:Helvetica,Arial,sans-serif;

	}

.event_box p{

	font-size:11px;

	line-height:20px;

	color:#666;

	font-family:Helvetica,Arial,sans-serif;

	}

a.readmore{

	font-size:11px;

	line-height:20px;

	color:#990000;

	font-family:Helvetica,Arial,sans-serif;

	font-weight:bold;

	display:block;

	}

a.readmore:hover{

	text-decoration:underline;

	}

a.click_view{

	font-size:14px;

	line-height:25px;

	color:#75952a;

	font-family:Helvetica,Arial,sans-serif;

	display:block;

	margin-top:21px;

	}

a.click_view:hover{

	text-decoration:underline;

	}

/*=======================================================================

							   Footer

==========================================================================*/

#footer{

	width:100%;

	overflow:hidden;

	}

/*=================================FooterWrapper==========================*/

.footer_menu{

	width:600px;

	height:63px;

	margin:0 auto;

	}

.footer_menu ul{

	width:100%;

	overflow:hidden;

	}

.footer_menu ul li{

	float:left;

	list-style:none;

	}

.footer_menu ul li a{

	font-size:14px;

	line-height:63px;

	color:#333;

	font-family:Helvetica,Arial,sans-serif;

	display:block;

	padding:0 32px;

	}

.footer_menu ul li a:hover{

	text-decoration:underline;

	}

/*----------------------*/

.copyright_wrapper{

	width:100%;

	height:42px;

	background:url(../images/interface/footer_bg.jpg) repeat-x center top;

	}

.copyright{

	width:1000px;

	height:42px;

	margin:0 auto;

	}

.copyright p{

	font-size:11px;

	line-height:42px;

	color:#fff;

	font-family:Helvetica,Arial,sans-serif;

	text-align:center;

	}

.copyright p a{

	color:#fff;

	}

.copyright p a:hover{

	text-decoration:underline;

	}

/*==================================-===================================Page: [Home] =======================================================*/





/*=========== For innner Page Css =========================*/





.inner_page {

    background-color: #FFFFFF;

    border-bottom: 1px solid #ccc;

	border-left: 1px solid #ccc;

	border-right: 1px solid #ccc;

    border-radius: 0 0 7px 7px;

    box-shadow: 0 0 5px #F4F4F4;

    margin: 0;

    overflow: hidden;

    padding: 10px 20px;

    width: 958px;

}

.conHead {

    border-bottom: 1px dashed #650A14;

    color: #650A14;

    font-family:Helvetica,Arial,sans-serif;

    font-size: 26px;

    font-variant: small-caps;

    font-weight: normal;

    line-height: 40px;

    margin-bottom: 10px;

    text-align: left;

    text-transform: capitalize;

}

.inner_page p {

    font-family:Helvetica,Arial,sans-serif;

    font-size: 14px;

    line-height: 20px;

    text-align: justify;

	padding-bottom:15px;

}

.inner_page ol, .inner_page ul{ margin-left:60px;}

.inner_page li{ padding-bottom:15px;}



.inner_page img {

    float: left;

    margin:0 10px 10px 0;

}

.back_to_home {

    color: #5F5F5F;

    float: right;

    font-size: 12px;

    line-height: 18px;

    text-decoration: underline;

}

.back_to_home:hover {

    text-decoration: none;

}















