@charset "utf-8";
/*======================================
				Creator: shihab
				DATE:2012-01-1
				Project Name:
=======================================*/
body{
	text-align:center;
	font-family:Arial, sans-serif;
	font-size:12px;
	background:none;
}
/*===========@Global Styles ============*/
*{margin:0; padding:0; outline:none}
img,fieldset{border:0}
a{text-decoration:none}



/*============================================================================
								pageScroller
============================================================================*/
#pageScroller{
	width:670px;/*712*/
	margin:0 auto;
	position:relative;
	overflow:hidden;
	padding:10px 21px;
}
a.leftscroller{
	width:19px;
	height:40px;
	display:block;
	position:absolute;
	left:5px;
	top:95px;
	background:url(images/leftScroll.png) no-repeat;
	
}
a.rightscroller {
	width:19px;
	height:40px;
	display:block;
	position:absolute;
	right:5px;
	top:95px;
	background:url(images/rightScroll.png) no-repeat;
	
}
/*-------------featuredSlide-----------------------*/
.featuredSlide{
	width:670px;
	height:200px;
	float:left;
	overflow:hidden;
	position:relative;
}
.featuredSlide ul { 
	width:100%;
	height:200px;
	list-style:none;
	position:absolute;
	top:0;
	left:0;	
}
.featuredSlide ul li{ 
	width:120px;/*130*/
	padding-right:10px;
	float:left;
	list-style:none;
	overflow:hidden;
}
.featuredSlide ul li.last{
	padding-right:0px;
}
.featuredSlide ul li a img{ float:left; display:block;}
.recentproduct{ width:120px; float:left;}
.productimage{width:120px; height:100px; float:left;}
.productname{ color:#3059b2; font-size:14px; line-height:20px; font-family:Arial, Helvetica, sans-serif;}
.productprice{ color:#a91938; font-size:12px; line-height:18px; float:left;}
.productfix{ color:#3059b2; font-size:10px; line-height:16px; float:left; }

/*=====================================================================ratul:[new css]=======================================================*/
.pageWrapper {width:970px;margin:5px 0px; overflow:hidden; padding-top:3px;text-align:left;border:1px solid #dbdbdb;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.weekdiv{ width:256px; float:left;}
.weekHead{color:#676767;font-size:18px;line-height:43px;text-transform:capitalize; text-align:center; border-right:1px solid #d7d5d5;
	margin-top:-3px; position:relative; background:url(../../newmodifyfile/images/interface/pageBottomHead.jpg) repeat-x;}
.weekinner{ float:left; width:250px; padding:9px 8px;}
.samllweekbox{ float:left; width:100%; padding-bottom:6px; height:100%;}
.samllweekhead1,.samllweekhead2,.samllweekhead3{ float:left; width:23px; height:98px; text-indent:-10000px; overflow:hidden;}
.samllweekhead1{ background:url(images/smallweekhead1.png) no-repeat left center; }
.samllweekhead2{ background:url(images/smallweekhead2.png) no-repeat left center;}
.samllweekhead3{ background:url(images/smallweekhead3.png) no-repeat left center;}
.smallweekdetail{ float:left; min-height:85px; margin-top:4px; background:#e8e8e8; width:220px;}
.smalldetailInner{ padding:4px; float:left; width:190px;}
.smallbuyerIn{padding:4px; float:left; width:200px;}
.smallbuyerIn img{float:left;border:1px solid #e0dfde;margin-right:10px;display:inline;width:50px;height:50px;}
.buyername{font-size:18px;font-family:Bebasneue;line-height:24px;color:#3b3a3a;text-align:left;font-weight:normal;text-transform:uppercase;}
.buyerdeatils{font-family:Tahoma, Geneva, sans-serif;font-size:10px;line-height:14px;color:#4a4949;text-align:left;text-transform:capitalize;}

.smallsellerIn{padding:4px; float:left; width:200px;}
.smallsellerIn img{float:left;border:1px solid #e0dfde;margin-right:10px;display:inline;width:50px;height:50px;}
.sellername{font-size:18px;font-family:Bebasneue;line-height:24px;color:#3b3a3a;text-align:left;font-weight:normal;text-transform:uppercase;}
.sellerdeatils{font-family:Tahoma, Geneva, sans-serif;font-size:10px;line-height:14px;color:#4a4949;text-align:left;text-transform:capitalize;}

.historydiv{ width:712px; float:right;}
.historyHead{color:#676767;font-size:18px;line-height:43px;text-transform:capitalize; padding-left:20px; border-left:1px solid #d7d5d5;
	margin-top:-3px; position:relative; background:url(../../newmodifyfile/images/interface/pageBottomHead.jpg) repeat-x;}
.innerHistoryHead{ color:#999; font-size:12px; line-height:18px; font-weight:normal; margin-bottom:10px;}

/*============================================================================
								productScroller
============================================================================*/
#productScroller{
	width:440px;/*214*/
	float:left;
	position:relative;
	overflow:hidden;
	padding:10px 0px;
}
a.leftscroller1{
	width:14px;
	height:23px;
	display:block;
	position:absolute;
	left:0px;
	top:45px;
	z-index:1000;
	background:url(images/leftScroll01.png) no-repeat;
	
}
a.rightscroller1 {
	width:14px;
	height:23px;
	display:block;
	position:absolute;
	right:0px;
	top:45px;
	z-index:1000;
	background:url(images/rightScroll01.png) no-repeat;
	
}
/*-------------featuredSlide-----------------------*/
.featuredSlide1{
	width:440px;
	height:90px;
	float:left;
	overflow:hidden;
	position:relative;
}
.featuredSlide1 ul { 
	width:100%;
	height:90px;
	list-style:none;
	position:absolute;
	top:0;
	left:0;	
}
.featuredSlide1 ul li{ 
	width:96px;/*130*/
	padding-right:12px;
	float:left;
	list-style:none;
	overflow:hidden;
}
.featuredSlide1 ul li.last{
	padding-right:0px;
}
.featuredSlide1 ul li a img{ float:left; display:block;border: 3px solid #3e3e3e;border-width: 3px 3px 10px;}
.featuredSlide1 ul li a:hover img {border: 3px solid #999; border-width: 3px 3px 10px;}