/*
	author: cailongqun [at] yahoo [dot] com [dot] cn
	website:www.phpletter.com

 */
html, body
{
    margin:0;
    padding:0;
}
body
{
    font: 11px Arial, Helvetica, sans-serif;
    color:#444444;
}
fieldset
{
    border: 3px double #999;
	padding: 2px 1em 8px;
	margin: 0 0 0 12px;
}
fieldset p
{
    margin: 0;
    line-height: 1.5em;
}
fieldset p input,
fieldset p label,
fieldset p button{vertical-align: middle;}
fieldset label{font-weight: bold; color: #334D64;}
form
{
    padding:0;
    margin:0;
}
legend
{
    font-weight: bold;
    text-transform: uppercase;
    color: #A1040B;
}
.input{font: 11px Arial, Helvetica, sans-serif;}
button
{
    font: bold 11px Arial, Helvetica, sans-serif;
    background-color: #ccc;
    color: #334D64;
}
.disabledButton{
background-color:#cccccc;
color:#FFFFFF;
text-shadow:#999999;
border:1px solid;
border-bottom:2px;
border-left-color:#ece9d8;
border-bottom-color:#716f64;

}
label.labelModeActive{
color:red;
}
.imageInput{width:35px;}
#controls
{
    /*border: 3px double #999;
    margin: 20px;
    padding: 12px 0;
    background: #fff url(../images/controls_bg.gif);*/
}
#modes,
#imageInfo{display: block;}

/* ~~~ jQuery Image Resize/Crop Styles ~~~ */
#hiddenImage{display:none;}
#imageArea
{
position:relative;
left:0px;
top:0px;
}
#imageContainer{
	position: absolute;
	top: 20px;
	left: 20px;

}
#resizeMe
{
	position: relative;
	top: 20px;
	left: 20px;
}
#resizeMe{cursor: move;}
#resizeSE,
#resizeE,
#resizeNE,
#resizeN,
#resizeNW,
#resizeW,
#resizeSW,
#resizeS
{

	overflow: hidden;
	padding:0;
	margin:0;
	height:8px;
	width:8px;
	position: absolute;
	background-color: #FF0000;
	border: 1px solid #fff;
	
}
#loading{
	 
	overflow: hidden;
	padding:0;
	margin:0;
	width:32px;
	height:32px;
	position:absolute;
	left:50%;
	z-index:1;
}
#resizeSE{
	bottom: -10px;
	right: -10px;
	cursor: se-resize;
}
#resizeE
{
	top: 50%;
	right: -10px;
	margin-top: -5px;
	cursor: e-resize;
}
#resizeNE
{
	top: -10px;
	right: -10px;
	cursor: ne-resize;
}
#resizeN
{
	top: -10px;
	left: 50%;
	margin-left: -5px;
	cursor: n-resize;
}
#resizeNW{
	top: -10px;
	left: -10px;
	cursor: nw-resize;
}
#resizeW
{
	top: 50%;
	left: -10px;
	margin-top: -5px;
	cursor: w-resize;
}
#resizeSW
{
	left: -10px;
	bottom: -10px;
	cursor: sw-resize;
}
#resizeS
{
	bottom: -10px;
	left: 50%;
	margin-left: -5px;
	cursor: s-resize;
}

table.tableForm
{
    width: 400px;
    border: 1px solid #2F3030;
    margin: 1em auto;
    border-collapse: collapse;
}
#windowSaveClose{
position:relative;
left:360px;
}
table.tableForm thead th
{
    background-color: #000;
    font-size:12px;
    font-weight: bold;
    text-transform : uppercase;
    text-align: left;
    color: #fff;
    padding: 4px 8px;
    border: 1px solid #2F3030;
    white-space: nowrap;
}
table.tableForm thead th.center{text-align: center;}
table.tableForm thead th.right{text-align: right;}
table.tableForm tbody th
{
    text-align: right;
    white-space: nowrap;
    width: 1%;
    font-weight: normal;
    color: #000;
    padding: 4px 4px 4px 12px;
}
table.tableForm tbody td{padding: 4px 8px;}
table.tableForm tfoot th{}
table.tableForm tfoot td{padding: 4px 8px 12px;}


