/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

/* loading */
.ui-autocomplete-loading {
    background: white url('ui-anim_basic_16x16.gif') right center no-repeat;
}

/* scroll results */
.ui-autocomplete {
    max-height:300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 5px;
}

.ui-autocomplete li {
    font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}
