.pagination {font-size: 80%; float:right;}
.pagination a {text-decoration: none;border: solid 1px #AAE;color: #15B;}
.pagination a, .pagination span {display: block;float: left;padding: 0.3em 0.5em;margin-right: 5px;margin-bottom: 5px;min-width:1em;text-align:center;}
.pagination .current {background: #26B;color: #ffffed;border: solid 1px #AAE;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#ffffec;}
#Searchresult {margin-bottom:10px;border:solid 1px #d3d6ff;padding:5px;background:#eaebff;}
.result a{ text-decoration:none; color:#043f7e;}
.result a:hover{ text-decoration:underline;}
#Searchresult p { margin-bottom:1.4em;}
#Searchresult dt {font-weight:bold;}
#Searchresult dd {margin-left:25px;}
.result{ text-align:left;}