/* CSS Document */
#dt_example, #dt_example2 {font: 80%/1.45em Arial, Helvetica, sans-serif;margin: 0;
	padding: 0;color: #333;background-color: #fff; overflow:hidden;}
#dt_example #container {width: 100%;margin: 10px auto;padding: 0;}
#dt_example #footer {margin: 10px auto 0 auto;padding: 0;}
#dt_example #demo {	margin: 10px auto 0 auto;}
#dt_example .demo_jui {	margin: 10px auto 0 auto;}
#dt_example .big {	font-size: 1.3em;font-weight: bold;line-height: 1.6em;color: #4E6CA3;}
#dt_example .spacer {height: 20px;clear: both;}
#dt_example .clear {clear: both;}
#dt_example pre {padding: 15px;background-color: #F5F5F5;border: 1px solid #CCCCCC;}
#dt_example h1 {margin-top: 2em;font-size: 1.3em;font-weight: normal;line-height: 1.6em;color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;clear: both;}
#dt_example h2 {font-size: 1.2em;font-weight: normal;line-height: 1.6em;color: #4E6CA3;clear: both;}
#dt_example a {	color: #0063DC;	text-decoration: none;}
#dt_example a:hover {text-decoration: underline;}
#dt_example ul {color: #B0BED9;}

#dt_example2 #container2 {width: 100%;margin: 10px auto;padding: 0;}
#dt_example2 #footer {margin: 10px auto 0 auto;padding: 0;}
#dt_example2 #demo2 {	margin: 10px auto 0 auto;}
#dt_example2 .demo_jui {	margin: 10px auto 0 auto;}
#dt_example2 .big {	font-size: 1.3em;font-weight: bold;line-height: 1.6em;color: #4E6CA3;}
#dt_example2 .spacer {height: 20px;clear: both;}
#dt_example2 .clear {clear: both;}
#dt_example2 pre {padding: 15px;background-color: #F5F5F5;border: 1px solid #CCCCCC;}
#dt_example2 h1 {margin-top: 2em;font-size: 1.3em;font-weight: normal;line-height: 1.6em;color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;clear: both;}
#dt_example2 h2 {font-size: 1.2em;font-weight: normal;line-height: 1.6em;color: #4E6CA3;clear: both;}
#dt_example2 a {	color: #0063DC;	text-decoration: none;}
#dt_example2 a:hover {text-decoration: underline;}
#dt_example2 ul {color: #B0BED9;}

.css_right {float: right;}
.css_left {float: left;}

.dataTables_wrapper {position: relative;min-height: 102px;clear: both;}
.dataTables_processing {position: absolute;	top: 0px;left: 50%;	width: 250px;margin-left: -125px;border: 1px solid #ddd;
	text-align: center;	color: #999;font-size: 11px;padding: 2px 0;}
.dataTables_length {width: 50%;	float: left; height:22px; text-align:left; background-color:#CACFD0; padding:2px 0px 2px 0px; border-bottom:1px solid #FFFFFF;}
.dataTables_filter {width: 50%;float: right; height:22px; text-align:right; background-color:#CACFD0; padding:2px 0px 2px 0px; border-bottom:1px solid #FFFFFF;}
.dataTables_info {width: 90%;float: left; text-align:left; height:20px; background-color:#CACFD0; padding:2px 0px 2px 0px; border-top:1px solid #FFFFFF;}
.dataTables_paginate {width: 10%;float:right;text-align:right; height:20px;background-color:#CACFD0; padding:2px 0px 2px 0px; border-top:1px solid #FFFFFF;}
/************************************Pagination nested *****************************/
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;width: 19px;margin-left: 3px;float: left;}
.paginate_disabled_previous {background-image: url('images/back_disabled.jpg');}
.paginate_enabled_previous {background-image: url('images/back_enabled.jpg');}
.paginate_disabled_next {background-image: url('images/forward_disabled.jpg');}
.paginate_enabled_next {background-image: url('images/forward_enabled.jpg');}
/* * * * * * * * ** *****************DataTables display****************************** */
table.display {	margin: 0 auto;	width: 100%;clear: both; font-size:12px; border:1px solid #CACFD0}
table.display thead th {padding: 3px 8px;font-weight: bold;cursor: pointer;}
table.display tfoot th {padding: 3px 8px;border-top: 1px solid black;font-weight: bold;}
table.display tr.heading2 td {	border-bottom: 1px solid #aaa;}
table.display td {	padding: 3px 10px;}
table.display td.center {text-align: center;}

/************************************* DataTables sorting**************************** */
.sorting_asc {background: url('images/sort_asc.jpg') no-repeat center right;}
.sorting_desc {	background: url('images/sort_desc.jpg') no-repeat center right;}
.sorting {background: url('images/sort_both.jpg') no-repeat center right;}
.sorting_asc_disabled {	background: url('images/sort_asc_disabled.jpg') no-repeat center right;}
.sorting_desc_disabled {background: url('images/sort_desc_disabled.jpg') no-repeat center right;}

/************************************** DataTables row classes*********************** */
table.display tr.odd.gradeA {background-color: #ECEFF5;}
table.display tr.even.gradeA {background-color: #ffffff;}
table.display tr.odd.gradeA {background-color: #ECEFF5;}
table.display tr.even.gradeA {background-color: #ffffff;}
table.display tr.odd.gradeC {background-color: #ddddff;}
table.display tr.even.gradeC {background-color: #eeeeff;}
table.display tr.odd.gradeX {background-color: #ffdddd;}
table.display tr.even.gradeX {background-color: #ffeeee;}
table.display tr.odd.gradeU {background-color: #ddd;}
table.display tr.even.gradeU {background-color: #eee;}
tr.odd{	background-color: #E2E4FF;}
tr.even {background-color: white;}
/************************************** * Sorting classes for columns************************ */
tr.odd td.sorting_1 {background-color: #D3D6FF;}
tr.odd td.sorting_2 {background-color: #DADCFF;}
tr.odd td.sorting_3 {background-color: #E0E2FF;}
tr.even td.sorting_1 {background-color: #EAEBFF;}
tr.even td.sorting_2 {background-color: #F2F3FF;}
tr.even td.sorting_3 {background-color: #F9F9FF;}

.tabarrow{ width:20px; height:15px; margin:0px; padding:0px;background:url(images/tabarrow.png) no-repeat top left;}
