/* CSS Document */
.pagination {font-size: 80%; float:left; margin:5px 0 0 0;}
.pagination a {text-decoration: none;border: solid 1px #f7fff3;color: #15B;text-decoration: none;}
.pagination a, .pagination span {display: block;float: left;padding: 0.3em 0.5em;margin-right: 5px;margin-bottom: 5px; min-width:16px; 
	text-align:center;}
.pagination .current {background:#2266BB;border: 1px solid #f7fff3;color: #FFFFFF;}
.pagination .current.prev, .pagination .current.next{color:#FFFFFF;border-color:#44290E;background:#44290E;}

.searchselect40x20{ width:40px; height:22px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px; font-size:11px; line-height:20px;}
.searchselect80x20{ width:80px; height:22px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchinput150x20{ width:150px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchselect40x20 option, .searchselect80x20 option{ padding:3px 0px 0px 5px; font-size:11px;height:18px; border-bottom: dotted 1px #999; cursor:pointer;}
.searchbutton {background: url("search20x19.png") no-repeat scroll 0 0 transparent;border: medium none;cursor: pointer;height: 21px;
	margin: 0;padding: 0;width: 22px;}
.font_searchbutton {background: url("search20x19.png") no-repeat scroll 0 0 transparent;border: medium none;cursor: pointer;height: 21px;
	margin: 0;padding: 0;width: 22px;}