.jqueryslider1{width:678px; float:left; height:260px; margin: 0; padding:0px;}
.nivoSlider {position:relative;}
.nivoSlider img {position:absolute;top:0px;left:0px;}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none;}
/* The slices in the Slider */
.nivo-slice {display:block;position:absolute;z-index:50;height:100%;}
/* Caption styles */
.jqueryslider1 .nivo-caption {position:absolute;right:0px;bottom:32px;background:url(banner_effect.png) no-repeat; width:311px; height:69px;
		color:#141414; font-size: 13px;font-weight: bold;line-height:69px;z-index:89; text-align:center;}
.nivo-caption p {padding:0px;margin:0;}
.nivo-caption a {display:inline !important;}
.nivo-html-caption {display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {position:absolute;top:45%;z-index:99;cursor:pointer;}
.nivo-prevNav {left:0px;}
.nivo-nextNav {right:0px;}
/* Control nav styles (e.ghmm. 1,2,3...) */
.nivo-controlNav a {position:relative;z-index:99;cursor:pointer;}
.nivo-controlNav a.active {font-weight:bold;}

/*============================== Custom Slider Styles ===============================*/
#slider1 {position:relative;min-height:260px;margin:0px;background:url(loading.gif) no-repeat 50% 50%}
#slider1 img {position:absolute;top:0px;left:0px;display:none;}
#slider1 a {border:0;display:block;}

.nivo-controlNav {position:absolute;left:47%;bottom:10px;}
.nivo-controlNav a {display:block;width:10px;height:10px;background:url(bullets.png) no-repeat;text-indent:-9999px;border:0;
	margin-right:3px;float:left;}
.nivo-controlNav a.active {background-position:-10px 0;}
.nivo-directionNav a {display:block;width:45px;height:90px;background:url(arrows.png) no-repeat;text-indent:-9999px;border:0;}
a.nivo-nextNav {background-position:-45px 0;right:15px;}
a.nivo-prevNav {left:15px;}
.nivo-caption a { text-decoration:underline;}
/*======================= Other Styles =======================*/.clear {clear:both;}
/* Sharper Thumbnails */img {-ms-interpolation-mode:bicubic;}
.bigText {color: #584066;font-size: 49px; line-height:69px;}