/* CSS Document */
.pagination {font-size: 80%; width:auto; float:right; margin-bottom:10px;}
.pagination a {text-decoration: none;border: solid 1px #AAE;color: #15B;}
.pagination a, .pagination span {display: block;float: left;padding: 0.3em 0.5em;margin-right: 5px;margin-bottom: 5px; min-width:16px; 
	text-align:center;}
.pagination .current {background: #26B;color: #fff;border: solid 1px #AAE;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#fff;}
.searchinput50x20{ width:50px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchinput100x20{ width:100px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchinput200x20{ width:200px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchbutton {background: url("search20x19.jpg") no-repeat scroll 0 0 transparent;border: medium none;cursor: pointer;height: 21px;
	margin: 0;padding: 0;width: 22px;}